<%- include('header.ejs') %>

<main>
    <div class="about-container">
        <h1>About Me</h1>
        <p>
            Hello! I'm Asif Pirimzade, a passionate software engineer with a degree in Computer Engineering.
            I specialize in web development and have experience in creating dynamic and responsive websites
            and applications. My interests include ethical hacking, cybersecurity, and software engineering.
        </p>
        <p>
            I enjoy learning new technologies and applying them to solve real-world problems. In my free time,
            I work on personal projects, explore new tech trends, and contribute to open-source projects.
        </p>
    </div>
</main>

<%- include('footer.ejs') %>
