<footer>
    <p>&copy; <%= new Date().getFullYear() %> Asif Pirimzade. All rights reserved.</p>
    <ul>
        <li><a href="https://github.com/asifpirimov" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/asif-pirimzade-43791b1aa/" target="_blank">LinkedIn</a></li>
    </ul>
</footer>
<!-- Add any additional scripts here -->
</body>
</html>
