<%- include('header.ejs') %>

<main>
    <div class="intro-container">
        <h1>Welcome to My Portfolio, <%= user.username %></h1>
        <p>This is where you can find information about my projects and skills.</p>
       
    </div>
</main>

<%- include('footer.ejs') %>
